.section4 {
    font-family: Montserrat;
    min-height: auto;
    /* margin-bottom: 5rem; */
    width: 100%;
    padding: 120px 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}

.sec4_upper {
    width: 90%;
    height: 50%;
}

.sec4_upper h2 {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
}

span {
    color: #5BE4A9;
    font-weight: 600;
}

.sec4_bottom {
    /* background-color: rebeccapurple; */
    margin-top: 3rem;
    width: 90%;
    height: 70%;
    display: flex;
    justify-content: center;

}

.left_one {
    width: 50%;
    display: flex;
    justify-content: start;
    flex-direction: column;
    padding: 20px;
    /* margin-top: 1.5rem; */

}

.left_one h2 {
    font-size: 28px;
    font-weight: 600;
    color: #5BE4A9;
}

.left_one p {
    font-size: 18px;
    color: white;
}

.right_one {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content:end;
    align-items: end;
    text-align: left;
    padding: 20px;
}



.right_one ol {
    font-size: 21px;
}

.right_one h2 {
    font-size: 28px;
    margin-right: 2.5rem;
    margin-left: 15rem;

}

.right_one li {
    margin-bottom: 10px;
}

@media (max-width: 1024px) {
    .section4 {
        padding: 20px 30px;
    }

    .sec4_upper h1 {
        font-size: 24px;
    }

    .left_one h2 {
        font-size: 24px;
    }

    .left_one p, .right_one ol {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .section4 {
        /* margin-bottom: 3rem; */

        padding: 15px 20px;
    }

    .sec4_upper h2 {
        font-size: 18px;
    }

    .left_one h2 {
        background-color: #5BE4A9;
        color: black;
        padding: 5px;

    }

    .sec4_bottom {
        flex-direction: column;
        height: auto;
    }

    .left_one, .right_one {
        width: 100%;
        text-align: center;
    }

    .right_one h2 {
        text-align: left;
        font-size: 18px;
        margin: 0;
        padding: 0;
    }

    .right_one ol {
        padding-left: 0;
    }
}

@media (max-width: 480px) {
    .sec4_upper h1 {
        font-size: 18px;
        margin-top: 3rem;
        text-align: center;
    }

    .left_one h2 {
        font-size: 22px;

    }

    .left_one p {
        font-size: 16px;
        text-align: left;
    }

    .right_one ol {
        font-size: 16px;
    }

    .right_one h2 {
        width: 100%;
        font-size: 16px;
        text-align: left;
        margin-bottom: 1rem;
        
    }
}
