

.section4 {
    font-family: Montserrat;
    height: 90vh;
    width: 100%;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
  
}

.sec4_upper {
    width: 100%;
    height: 30%;

    
}

span {
    color: #5BE4A9;
}

.sec4_lower {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 20px; */

}

.sec4_lower img {
    width: 50%;
    height: 100%;
   
}

@media (max-width: 1024px) {
    .section4 {
        padding: 20px 30px;
    }

    .sec4_upper h1 {
        font-size: 24px;
    }

    .sec4_lower img {
        width: 60%;
    }
}

@media (max-width: 768px) {
    .section4 {
        padding: 15px 20px;
    }

    .sec4_upper h1 {
        font-size: 22px;
    }

    .sec4_lower {
        flex-direction: column;
    }

    .sec4_lower img {
        width: 80%;
    }
}

@media (max-width: 480px) {

    .sec4_upper h1 {
        font-size: 18px;
        margin-top:3rem;
        text-align: center;
    }

    .sec4_lower img {
        width: 90%;
        height: 50%;
    }
}